nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-rosa);
  padding: 1rem 2rem;
}

nav .logo img {
  max-height: 50px; /* ajusta el tamaño del logo */
  height: auto;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-negro);
  font-weight: 600;
  font-family: var(--font-subtitle); /* Lato semibold */
  transition: 0.3s;
}

nav ul li a:hover {
  color: var(--color-turquesa);
}
