
.navbar {
  width: 100%;
  margin-bottom: 0;

}  
    
.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 85px;
  max-height: 85px;
  background-color: var(--color-rosa);
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 9999999;
  
} 

.logo {
  width: 30%;
  margin-left: 2vmax;

}  
    
.logoCompleto {
  width: 80%;
  height: auto 
}
      
.hamburg {
  visibility: hidden; 
}

.navlinks {
  display: flex;
  list-style: none;
  gap: 2vmax;
  width: 100%;
  justify-content: flex-end;
  margin-right: 3vmax;

}  
.linksMenu {
  display: flex;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-family: var(--font-subtitle); 
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}  

.linksMenu:hover {
  color: #de4f37;
  transition: color ease-in-out .2s;
}
        
       
    

@media all and (max-width: 992px) {
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }  
  .navbarContainer {
    display: flex;
    justify-content: space-between;

  }  

  .logoCompleto {
    z-index: 1001;
    height: auto;
    width: 50%;
    
  }

  .hamburg {
    visibility: visible;
    color: #de4f37;
    width: 5%;
    cursor: pointer;
    margin-right: 2vmax;
     

    &:hover {
      color:#FE7247;
      transition: color ease-in-out .2s;
    }
  }

  .navlinks {
    opacity: 0;
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: opacity ease-out 0.2s, height ease-out 0.2s; 


    &.showMenu{
      top: 100%;
      right: 0;
      width: 100%;
      height: 100vmax;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: #C7B1A5;
      opacity: 1;
      visibility: visible;
      transition: opacity ease-in 0.2s, height ease-in 0.2s;
      margin: 0;
    } 
  }  
     
  li>a {
    margin-top: 2rem;
    font-size: 2rem;


    &:active {
      color: #FE7247;
    }
  }
      
    
    
}
  





@media all and (max-width: 768px) {
     
  .logoCompleto {
    width: 70%;
    
  }
        

}


@media all and (max-width: 500px) {


  .navbar {
    height: 60px;
  }
  .navbarContainer {
   height: 70px;
  } 

     
  .logoCompleto {
    width: 100%;
    
  }

  .hamburg {
    width: 10%;
    margin-right: 2vmax;
     
  }
        

}




























