header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-rosa);
  flex-wrap: wrap;

}

.header-left, .header-right {
  flex: 1 1 300px;
  display: flex;
  align-items: center;
  
}

.header-left {
  justify-content: end;
}

.header-right {
  
}

.header-img {
  max-width: 80%;
  height: auto;
  margin-bottom: 0;
  filter: contrast(110%) brightness(95%) drop-shadow(0 4px 6px rgba(0, 0, 0, 0.4));
}

.header-logo {
  max-width: 70%;
  height: auto;
  margin: 0 auto;
}

/* H1 oculto para SEO */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

/* Responsive */
@media (max-width: 768px) {
  header {
    flex-flow: column-reverse;
    padding: 1rem 1rem 0 1rem;
  }

  .header-left, .header-right {
    flex: 1 1 100%;
    justify-content: center;
    
  }

 

  .header-img {
    max-width: 80%;
    
  }

  .header-logo {
    max-width: 80%;
    margin: 4vmax 0;
  }
}
